@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #666666;
  font-family: Merienda;
  scroll-behavior: smooth;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.75;
  color: #fff;
}

a:hover {
  opacity: 1;
}

a.btn {
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #f8c300;
  opacity: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}

.work-area, .contact {
  background-color: #ddd;
}

.contact-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section h3.header-text {
  text-transform: uppercase;
  font-family: Baloo;
  margin-bottom: 5px;
  text-align: center;
  font-size: 45px;
}

section p {
  max-width: 700px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 800px) {
  section {
    padding: 50px 20px;
  }

  section h3.header-text {
    font-size: 30px;
  }
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;
  animation: 1s animate 0.5s forwards;
  opacity: 0;
  color: #fff;
  z-index: 10;
}
@keyframes animate {
  100% {
    opacity: 1;
  }
}

header h2 {
  font-family: Baloo;
}

header nav {
  display: flex;
  margin-right: -15px;
}

header nav li {
  margin: 0 15px;
}

@media (max-width: 800px){
  header {
    padding: 20px 50px;
    flex-direction: column;
  }

  header h2 {
    margin-bottom: 15px;
  }

  header nav li {
    margin: 0 7px;
  }
}

.banner-area {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #fff;
}

.banner-area .img-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url('../img/bg.png');
  background-position: center center;
  background-size: cover;
  z-index: -1;
}

.banner-area h1 {
  margin-bottom: 15px;
  font-size: 60px;
}

.banner-area h3 {
  margin-bottom: 40px;
  font-size: 25px;
}

.banner-text {
  opacity: 0;
  margin-top: 100px;
  animation: 1s animate-two 1s forwards;
}

@keyframes animate-two {
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.banner-area .btn {
  padding: 15px 30px;
}

@media (max-width: 800px) {
  .banner-area {
    min-height: 600px;
  }

  .banner-area h1 {
    font-size: 28px;
  }

  .banner-area h3 {
    font-size: 24px;
  }

  .banner-area a.btn {
    padding: 10px 25px;
  }
}

.content-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.services-area .content-area .single-service {
  width: 350px;
  height: 300px;
  padding: 20px;
  flex-basis: 30%;
  text-align: center;
}

.single-service {
  margin-bottom: 15px;
}

.icon-area {
  width: 80px;
  height: 80px;
  display: inline-block;
  background-color: #262626;
  border-radius: 50%;
  margin-bottom: 20px;
}

.icon-area i {
  margin-top: 25px;
  color: #fff;
  font-size: 30px;
}

@media (max-width: 1000px) {
  .content-area {
    display: flex;
    flex-direction: column;
  }
  .services-area .content-area .single-service {
    flex-basis: 30%;
  }
}

@media (max-width: 800px) {
  .services-area .content-area .single-service {
    flex-basis: 100%;
  }

  .single-service {
    margin-bottom: 30px;
  }
}

.work-area .content-area {
  display: flex;
  flex-wrap: wrap;
}

.work-area .content-area li {
  padding: 5px;
  flex-basis: 50%;
  text-align: center;
}

.work-area img {
  width: 90%;
}

.work-area img:hover {
  cursor: zoom-in;
  transform: scale(1.1);
  transition-duration: 0.5s;
}

@media (max-width: 800px) {
  .work-area .content-area li {
    padding: 20px;
    flex-basis: 100%;
  }
}

.newsletter form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
}

.newsletter form .btn {
  padding: 15px 30px;
}

.newsletter form input {
  padding: 15px;
  margin-right: 30px;
  font-size: 18px;
  color: #666666;
  flex: 1;
  border: 1px solid #000;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .newsletter form input {
    flex-basis: 100%;
    margin: 0 0 20px 0;
  }
}

.contact .contact-area {
  display: flex;
  flex-wrap: wrap;
}

.contact .contact-area .single-contact {
  height: 300px;
  padding: 20px;
  flex-basis: 50%;
  text-align: center;
}

.single-contact i {
  font-size: 30px;
}

.single-contact input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding: 15px;
  border: 1px solid #262626;
}

.single-contact input[type=submit] {
  background-color: #f8c300;
  border: none;
  font-size: 16px;
  font-family: Merienda;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 800px) {
  .contact .contact-area .single-contact {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #262626;
  color: #fff;
  padding: 20px 0;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.6;
  align-self: center;
}